@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
.attribution { font-size: 11px; text-align: center; margin-top: 40px;}
    .attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree',sans-serif;
}
.card{
    box-shadow: 10px 10px hsl(0, 0%, 7%);
    padding: 1rem;
    margin: 0px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 320px;
    height: 450px;
    border: 1px solid hsl(0, 0%, 7%);
}
 h2:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
 }


.learning{
    padding: 2px;
    background-color: hsl(47, 88%, 63%);
    margin-right: 80%;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
.learning p{
    font-weight: bold;
    margin-top: 6px;
    text-align: center;
    align-self: center;
    margin-left: 16px;

}
.foundation{
    font-size: 16px;
}
P{
    font-family: 'Figtree',sans-serif;
}
.profile{
    img{
        width: 40px;
        height: 40px;
    }
}
.profile, p{
    display: flex;
    margin-left: 5px;
}
